.block {
  order: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: auto 1rem;
  letter-spacing: 4px;
  text-align: center;

  &.single {
    grid-template-columns: 1fr;
  }

  font-size: 64px;

  @media screen and (min-width: 768px) {
    font-size: 128px;
  }
}

.minutes {
  text-align: right;
}

.separator {
  text-align: center;
}
