$main: #001d3d;
$accent: #ffd60a;

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.block {
  position: absolute;
  background-color: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  padding: 2rem;
  overflow-y: auto;
  box-shadow: 0 0 1rem 0 black;
}

.block.inverted {
  background-color: $accent;
  box-shadow: 0 0 1rem 0 $main;
}

.list {
  list-style-type: none;
  padding: 0;
}
